{% load static %}
{% extends "website/layout.html" %}

{% block content %}
    {% block products %}
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="220">
                {% endif %}
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}
